# Copy this file to .env and enter the actual values
# Never commit the .env file

# ABB controller IP address (without trailing slash)
ROBOT_IP=192.168.125.1

# Credentials RWS (ABB RW6 defaults)
RWS_USER=Default User
RWS_PASSWORD=robotics

# HTTP timeout in seconds (default: no timeout).
# Uncomment and set a value (in seconds) to limit request duration.
# RWS_TIMEOUT= XXX

# Target RAPID task (optional, default: T_ROB1)
RWS_RAPID_TASK=T_ROB1
