# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environnements
.env
.pixi/
.venv/

# Éditeurs
.vscode/
.idea/
.ruff_cache/
*.swp

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml  

# Docs
site/
public/

# OS
.DS_Store
Thumbs.db

# Les fichiers "old"
*old*
**/*old*


#fichiers de travail 
*.ppt
*.pptx
